body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

.header {
    display: flex;
    justify-content: space-between;
}

.head-cont {
    background-color: rgb(129, 36, 36);
    flex-wrap: wrap;
}

.demohero {
    display: flex;
    
}

.herotext {
    display: flex;
}