body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

.header {
    display: flex;
    gap: 16px;
   

}

.top1 {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    
}

.hlogo {
    display: flex;
    text-align: left;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.head-cont {
    background-color: rgb(129, 36, 36);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.demohero {
    display: flex;
    width: 450px;
    height: 232px;
    max-width: 500px;
    
    
}

.herotext {
    display: block;
    margin-right: 100px;
    color: aliceblue;
    flex-grow: 0;
    max-width: 450px;
    
}

.tophalf {
    display: flex;
    margin: 80px;
}

button {
    padding: 7px 16px 
}

.seemore{
    background-color: brown;
    color: aliceblue;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.seemore:hover {
    background-color: rgb(218, 116, 20);
}

.heroaux {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}


.headaux{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 40px;

}


.weps {
    max-width: 200px;
    text-align: center;
    
    border-bottom: 5px double firebrick;
    border-radius: 20px;
    padding: 6px;
    
}

img {
    
    width: 100px;
    margin-bottom: 16px;
  
}

.wep-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;
  
}

.lore,
.tocrate,
.footer {
    display: flex;
    flex-direction: column;
}